<div class="content-container block font-20px">
        <div class= "flex section-header-container">
            <h2 class="section-name">Demostraciones</h2>
            <div class="flex flex-end section-tools">
                <div *ngIf="isAdmin">
                    <app-icon-button [icon]="iconoAdd" [estilo]="'add-button'" (accion)="abrirModal('create')"></app-icon-button>
                </div>
                <app-order-option
                [orderOptions]="videoOrderOptions.orderOptions"
                [ascOptions]="videoOrderOptions.ascOptions"
                [descOptions]="videoOrderOptions.descOptions"
                [listaItems] ="listaVideos"
                (itemsReversed)="onItemsReversed($event)"
                (orderSelected)="onOrderSelected($event)">
                </app-order-option>
            </div>
        </div>
    
    <div class="flex video-container">
        <div class="video-item" *ngFor="let video of listaVideos; trackBy: trackByVideo">
            <div class="video-thumbnail-container">
                <img [src]="getYoutubeThumbnail(video.enlace_video)" 
                fallback  
                class="video-thumbnail-img"
                (click)="abrirLightbox(video.enlace_video)" >
                <div class="play-overlay">▶</div>
            </div>
            <p class="nombre-item">{{video.nombre_video | primeraLetra}}</p>
            <div *ngIf="isAdmin">
                <div class="section-tools button-box">
                    <app-icon-button [icon]="iconoModify" [estilo]="'modify-button'" (accion)="abrirModal('edit', video.id)"></app-icon-button>
                    <app-icon-button [icon]="iconoDelete" [estilo]="'delete-button'" (accion)="deleteVideo(video.id)"></app-icon-button>
                </div>
                <div class="linker">
                    <app-item-linker 
                    [texto]="'Asignar/desasignar a ejercicio'" 
                    [config]="linkerConfig"
                    [itemId]="video.id"
                    (linkEvent)="onLinkAction($event)"
                    (loadForId)="onLoadForId($event)"></app-item-linker>
                </div>
            </div>
        </div>
        <app-lightbox [items]="lightboxItems"></app-lightbox>
    </div>
</div>

