<div class="content-container block font-20px">
        <div class= "flex section-header-container">
            <h2 class="section-name">Ejercicios</h2>
            <div class="flex flex-end section-tools">
                <app-icon-button [icon]="iconoAdd" [estilo]="'add-button'" (accion)="abrirModal('create')"></app-icon-button>
                <app-order-option
                [orderOptions]="ejercicioOrderOptions.orderOptions"
                [ascOptions]="ejercicioOrderOptions.ascOptions"
                [descOptions]="ejercicioOrderOptions.descOptions"
                [listaItems] ="listaEjercicios"
                (itemsReversed)="onItemsReversed($event)"
                (orderSelected)="onOrderSelected($event)">
                </app-order-option>
            </div>
        </div>
    
    <div class="block">
        <div *ngFor="let ejercicio of listaEjercicios; let index = index">
            <div class="ejercicio-group-header" 
            *ngIf="(
            orderOptionSelected === 'Categoría' && 
            (index === 0 || ejercicio.nombre_categoria !== listaEjercicios[index-1].nombre_categoria)
            )">
            {{onCategoriaSelected(ejercicio.id_categoria)}}
            </div>
            <div class="ejercicio-item flex">
                <p>{{ejercicio.nombre_ejercicio | primeraLetra}}</p>
                <div class="section-tools button-box flex-end">
                    <app-item-linker 
                    [texto]="'Asignar/desasignar a...'" 
                    [config]="linkerConfig"
                    [itemId]="ejercicio.id"
                    (linkEvent)="onLinkAction($event)"
                    (loadForId)="onLoadForId($event)"></app-item-linker>
                    <app-icon-button [icon]="iconoModify" [estilo]="'modify-button'" (accion)="abrirModal('edit', ejercicio.id)"></app-icon-button>
                    <app-icon-button [icon]="iconoDelete" [estilo]="'delete-button'" (accion)="deleteEjercicio(ejercicio.id)"></app-icon-button>
                </div>
            </div>
        </div> 
    </div>
</div>
