.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(10, 5, 49, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

.modal-content {
  position: relative;
  top: 17%;
  background: #F2F2F7;
  border-radius: 5px;
  width: 47%;
}