button{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 2% 4%;
    min-width: max-content;
    cursor: pointer;
}

.login-button{
    background-color: #FFDC51;
    border: 1px solid #DEA300;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    color: #1E1E1E;
    margin-right: 2.25%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.save-button{
    width: 100%;
    text-align: center;
    background-color: #0768A9;
    border: 1px solid #004777;
    border-radius: 5px;
    color: snow;
    padding: 20px 150px;
}

.logout-button{
    text-align: center;
    background-color: #D32929;
    border: 1px solid #8b1313;
    border-radius: 5px;
    color: snow;
    padding: 10px 50px;
    margin: 5px;
}