# Base de Datos
   DB_HOST="localhost"
   DB_USER="tu_usuario_mysql"
   DB_PASSWORD="tu_contraseña_mysql"
   DB_NAME="gestionafit_prueba"

# Servidor
   PORT=3000

# Autenticación (JWT)
# Genera una clave secreta aleatoria y segura. Ejemplo:
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
   JWT_SECRET="tu_clave_secreta"

# Servicio de Mensajería
# Se ha usado el servidor de la UPM exclusivamente durante la fase de desarrollo y pruebas, en la fase de despliegue el servidor cambiará y se utilizará un correo con dominio propio creado ex profeso para la aplicación.
# Usuario: tu correo institucional con dominio '@upm.es' o '@alumnos.upm.es'
# Contraseña: tu contraseña vinculada a ese correo o una App-Password si la UPM lo requiere.
   MAIL_USER="tu_correo_institucional"
   MAIL_PASS="tu_contraseña"