body{
    background-color: #0768A9;
    font-family: "Calibri";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content-container{
    display: flex;
    background-color: snow;
    font-family: "Arial Black";
    font-weight: bold;
    color: #0768A9;
    width: 50%;
    margin: 0 25%;
    min-height: 100vh;
    border-bottom: 1px solid #D9D9D9;
}

.part-title{
    color: #0768A9,
}

.flex-start{
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;    
}

.flex-end{
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
}

.centered{
    align-items: center;
    justify-content: center;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: 47px;
    width: 47px;
    margin-right: 16px;
    border-radius: 25%;
    border: solid 2px #D9D9D9;
}

.inline{
    display: inline;
}

.block{
    display: block;
}

.flex{
    display: flex;
}

button{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    cursor: pointer;
}

.right-button{
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 2%;
}

.left-button{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    white-space: nowrap;
    margin-left: 2%;
}

.medium-button{
    width: 50%;
}

.big-button{
    width: 80%;
}

.font-32px{
    font-size: 32px;
}

.font-20px{
    font-size: 20px;
}

.font-18px{
    font-size: 18px;
}

.font-16px{
    font-size: 16px;
}