<header>
    <div class="grid-container">
        <div class="header-logo">
            <img src={{logoUrl}} class="logo" alt="Logo">
            <span class="title" alt="nombre aplicación">GestionaFit</span>
        </div>

        <div class="header-menu" *ngIf="showMenu === true">
            <app-menu-dinamico 
            [userRol]="userRol"></app-menu-dinamico>
        </div>

        <div class="header-user" *ngIf="showMenu === true">
            <app-menu-usuario 
            [userPhoto]="userPhoto" 
            [userFullName]="userFullName"
            [userId]="userId" 
            (logout)="cerrarSesion()"></app-menu-usuario>
        </div>
    </div>
</header>
