<header>
    <div class="flex-cont header">
        <div class="header-logo">
            <img src="A:\Descargas\Uni\TFG\Logo\Logo GestionaFit.png" class="Logo inline">
            <h1 class="letter-font title">GestionaFit</h1>
        </div>
        <!--if loggeado-->
        <div class="header-menu">
            <!--Componente menu dinamico-->
        </div>
        <div class="header-user">
            <img class="user-icon">
            <!--src de imagen necesita un script para automatizar la foto con la que genera por defecto o la que ha puesto el usuario-->
        </div>
        <!--end if-->
    </div>
</header>

