<header>
    <div class="flex-cont">
        <div class="header-logo">
            <img src={{logoUrl}} class="logo" alt="Logo">
            <span class="letter-font title" alt="nombre aplicación">GestionaFit</span>
        </div>
        <!--
        <div *ngIf="usuario !== null">
            <div class="header-menu">
                <app-menu-dinamico></app-menu-dinamico>
            </div>
            <div class="header-user">
                <img class="user-icon" src=[{usuario.foto_perfil}] alt="Usuario">
            </div>
        </div>
        -->
    </div>
</header>
