.linker-toggle-defecto{
    padding: 8px; 
    color: #0768A9;
    background-color: none;
    border: none;
}

.linker-toggle-rutinas{
    padding: 4px 5.5px; 
    background-color: #3F95CF;
    color: snow;
    border: 1px solid #0768A9;
}

.menu, .submenu{
    position: absolute;
    color: #313131;
    background-color: #FFF2CC;
    border-radius: 5px;
    border: 1px solid #d8b953;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
    text-align: left;
}

.submenu {
    left: 100%; 
    top: 0;
    min-width: 200px;
}

.section{
    font-weight: bold; 
    background-color: #e5d49e;
    padding: 5px 10px;
    white-space: nowrap;
}  

.menu-item{
    display: flex;
    padding: 5px 10px;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}

.menu-item:hover, .choice-item:hover{
    background-color: #fce9ac;
}

.choice-item { 
    position: relative; 
    cursor: pointer; 
    min-width: 150px;
}

.choice-option{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
}

.choice-option, .menu-item, .section {
    text-align: left;
}