<nav id="main-nav">
    <ul>
        <li *ngIf="isAdmin()"><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li *ngIf="isAdmin()" class="dropdown" ><a class="dropdown-toggle" [class.active]="isGestionarActive()" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
            <span>Gestionar</span><span class="arrow" [class.rotate]="isHovered || isOpen">▼</span></a>                
            <nav id="gestionar-nav" *ngIf="isAdmin()" class="dropdown-menu">
                <ul>
                    <li><a routerLink="/gestionar/clientes">Clientes</a></li>
                    <li><a routerLink="/gestionar/plantillas">Plantillas</a></li>
                    <li><a routerLink="/gestionar/categorias">Categorías</a></li>
                    <li><a routerLink="/gestionar/ejercicios">Ejercicios</a></li>
                    <li><a routerLink="/gestionar/rutinas-clientes">Rutinas Clientes</a></li>
                    <li><a routerLink="/demostraciones" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Vídeos de demostración</a></li>
                </ul>
            </nav>
        </li>
        <li *ngIf="isUser()"><a routerLink="/mis-rutinas" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mis Rutinas</a></li>
        <!--<li><a routerLink="/estadisticas" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Estadísticas</a></li>-->
        <li *ngIf="isAdmin()"><a routerLink="/materiales" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Materiales</a></li>
        <li *ngIf="isAdmin()"><a routerLink="/demostraciones" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Demostraciones</a></li>
    </ul>
</nav>