.forgotten-pass{
    position: absolute;
    top: 66%; 
    left: 48.5%;
    transform: translateX(-50%);
    width: fit-content;
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    margin: 0 50px 0 0;
    color: #007bff;
    text-decoration: underline;
    font-size: 14px;
    z-index: 5;
}

.auth-form-container{
   position: relative;
}

@media (max-height: 800px){
    .forgotten-pass{
        top: 69%;
    }
}